:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  --font-manrope: "Manrope", sans-serif;

  --font-size-200: 1.5rem;
  --font-size-100: 0.8125rem;
}

@media (min-width: 48em) {
  :root {
    --font-size-200: 1.75rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font-manrope);
  background-color: var(--dark-blue);
  color: var(--light-cyan);
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
  display: grid;
  place-content: center;
  font-weight: 800;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/* Background Utility*/
.background-grayish-blue {
  background-color: var(--dark-grayish-blue);
}

/* Grid Utility */
.grid {
  display: grid;
}

.grid--items-center {
  place-items: center;
}
